branding/lyra/.gen-tmp/
.cache/
dist/
.DS_Store
firefox-src/
firefox-src/mozconfig.local
.idea/
mozconfig.local
objdir/
out/
*.pyc
__pycache__/
.sccache/
node_modules/
.husky/_
secrets/
*.pem
!scripts/testdata/*.pem
*.tar.bz2
*.tar.gz
*.tar.xz
website/node_modules/
website/dist/
website/.astro/
*.xpi
